body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1732 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1737 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u1738 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u1739 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1741 {
  position:absolute;
  left:13px;
  top:28px;
  width:25px;
  height:25px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1743 {
  position:absolute;
  left:0px;
  top:64px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1744 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1745 {
  position:absolute;
  left:125px;
  top:64px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1746 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1747 {
  position:absolute;
  left:250px;
  top:64px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1748 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1749 {
  position:absolute;
  left:0px;
  top:180px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1750 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
#u1751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1751 {
  position:absolute;
  left:125px;
  top:180px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1752 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u1753 {
  position:absolute;
  left:250px;
  top:180px;
  width:125px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1754 {
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
