body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5450 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5451 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5454 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5455 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u5456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u5456 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u5457 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5459 {
  position:absolute;
  left:13px;
  top:28px;
  width:25px;
  height:25px;
}
#u5460 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u5461 {
  position:absolute;
  left:38px;
  top:70px;
  width:300px;
  height:32px;
  color:#CCCCCC;
}
#u5462 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5463 {
  position:absolute;
  left:6px;
  top:102px;
  width:363px;
  height:60px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5464 {
  position:absolute;
  left:2px;
  top:11px;
  width:359px;
  word-wrap:break-word;
}
#u5465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u5465 {
  position:absolute;
  left:38px;
  top:172px;
  width:300px;
  height:32px;
  color:#CCCCCC;
}
#u5466 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5467 {
  position:absolute;
  left:6px;
  top:204px;
  width:363px;
  height:60px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5468 {
  position:absolute;
  left:2px;
  top:11px;
  width:359px;
  word-wrap:break-word;
}
#u5469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u5469 {
  position:absolute;
  left:38px;
  top:274px;
  width:300px;
  height:32px;
  color:#CCCCCC;
}
#u5470 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5471 {
  position:absolute;
  left:6px;
  top:306px;
  width:363px;
  height:60px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5472 {
  position:absolute;
  left:2px;
  top:11px;
  width:359px;
  word-wrap:break-word;
}
#u5473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u5473 {
  position:absolute;
  left:38px;
  top:376px;
  width:300px;
  height:32px;
  color:#CCCCCC;
}
#u5474 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5475 {
  position:absolute;
  left:6px;
  top:408px;
  width:363px;
  height:60px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u5476 {
  position:absolute;
  left:2px;
  top:11px;
  width:359px;
  word-wrap:break-word;
}
#u5477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5478 {
  position:absolute;
  left:423px;
  top:124px;
  width:350px;
  height:52px;
}
#u5479 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
