body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5915 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5916 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u5919 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u5920 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5921 {
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:132px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:58px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5923 {
  position:absolute;
  left:333px;
  top:87px;
  width:36px;
  height:36px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:83px;
}
#u5925 {
  position:absolute;
  left:6px;
  top:60px;
  width:94px;
  height:83px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:34px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5927 {
  position:absolute;
  left:139px;
  top:60px;
  width:184px;
  height:38px;
  font-size:20px;
  text-align:left;
}
#u5928 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5929 {
  position:absolute;
  left:339px;
  top:42px;
  width:25px;
  height:25px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5931 {
  position:absolute;
  left:0px;
  top:159px;
  width:188px;
  height:58px;
}
#u5932 {
  position:absolute;
  left:2px;
  top:13px;
  width:184px;
  word-wrap:break-word;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5933 {
  position:absolute;
  left:188px;
  top:159px;
  width:188px;
  height:58px;
}
#u5934 {
  position:absolute;
  left:2px;
  top:13px;
  width:184px;
  word-wrap:break-word;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5935 {
  position:absolute;
  left:0px;
  top:227px;
  width:375px;
  height:122px;
}
#u5936 {
  position:absolute;
  left:2px;
  top:53px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5938 {
  position:absolute;
  left:0px;
  top:227px;
  width:375px;
  height:44px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5939 {
  position:absolute;
  left:48px;
  top:12px;
  width:309px;
  word-wrap:break-word;
}
#u5940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5941 {
  position:absolute;
  left:18px;
  top:238px;
  width:22px;
  height:22px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5943 {
  position:absolute;
  left:22px;
  top:241px;
  width:15px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u5944 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u5945 {
  position:absolute;
  left:340px;
  top:239px;
  width:19px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u5946 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5947 {
  position:absolute;
  left:17px;
  top:275px;
  width:70px;
  height:68px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5949 {
  position:absolute;
  left:111px;
  top:275px;
  width:70px;
  height:68px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5951 {
  position:absolute;
  left:211px;
  top:275px;
  width:70px;
  height:68px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5953 {
  position:absolute;
  left:299px;
  top:275px;
  width:70px;
  height:68px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5955 {
  position:absolute;
  left:0px;
  top:359px;
  width:375px;
  height:122px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:53px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5958 {
  position:absolute;
  left:0px;
  top:359px;
  width:375px;
  height:44px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5959 {
  position:absolute;
  left:48px;
  top:12px;
  width:309px;
  word-wrap:break-word;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:18px;
  top:370px;
  width:22px;
  height:22px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5963 {
  position:absolute;
  left:22px;
  top:373px;
  width:15px;
  height:16px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u5964 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u5965 {
  position:absolute;
  left:340px;
  top:371px;
  width:19px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u5966 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5967 {
  position:absolute;
  left:17px;
  top:407px;
  width:70px;
  height:68px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5969 {
  position:absolute;
  left:111px;
  top:407px;
  width:70px;
  height:68px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5971 {
  position:absolute;
  left:211px;
  top:407px;
  width:70px;
  height:68px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u5973 {
  position:absolute;
  left:299px;
  top:407px;
  width:70px;
  height:68px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  word-wrap:break-word;
}
#u5975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5976 {
  position:absolute;
  left:0px;
  top:513px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5977 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u5978 {
  position:absolute;
  left:340px;
  top:525px;
  width:19px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u5979 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5981 {
  position:absolute;
  left:0px;
  top:557px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u5982 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u5983 {
  position:absolute;
  left:340px;
  top:569px;
  width:19px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u5984 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:116px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5985 {
  position:absolute;
  left:451px;
  top:187px;
  width:350px;
  height:116px;
}
#u5986 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
