body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u6161 {
  position:absolute;
  left:159px;
  top:408px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6162 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6163 {
  position:absolute;
  left:38px;
  top:40px;
  width:375px;
  height:40px;
}
#u6164 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:17px;
}
#u6165 {
  position:absolute;
  left:38px;
  top:21px;
  width:375px;
  height:17px;
}
#u6166 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6167 {
  position:absolute;
  left:49px;
  top:50px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u6168 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6169 {
  position:absolute;
  left:161px;
  top:50px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u6170 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6171 {
  position:absolute;
  left:38px;
  top:80px;
  width:375px;
  height:596px;
}
#u6172 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:247px;
}
#u6173 {
  position:absolute;
  left:49px;
  top:104px;
  width:353px;
  height:247px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:116px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 168, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6175 {
  position:absolute;
  left:161px;
  top:272px;
  width:129px;
  height:31px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:130px;
  top:192px;
  width:193px;
  height:31px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6179 {
  position:absolute;
  left:137px;
  top:204px;
  width:177px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6181 {
  position:absolute;
  left:177px;
  top:278px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6183 {
  position:absolute;
  left:50px;
  top:256px;
  width:353px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
